<section class="donation container">

    <div class="donation__box">

        <h2>Dukung Kami ❤️</h2>

        <p>
            Donasi digunakan untuk membantu biaya domain, server,
            dan proses penerjemahan.
        </p>

        <div class="donation__buttons">

            <a href="https://trakteer.id/ghostfujodanshi" target="_blank" class="button button--primary">
                Trakteer
            </a>

            <a href="https://ko-fi.com/ghostfujodanshi" target="_blank" class="button button--secondary">
                Ko-fi
            </a>

        </div>

    </div>

</section>
