<section class="hero">

    <div class="container hero__wrapper">

        <div class="hero__content">

            <span class="hero__badge">
                ✨ Ghost Fujodanshi Scanlation
            </span>

            <h1 class="hero__title">
                Baca Novel BL Favoritmu
            </h1>

            <p class="hero__subtitle">
                Koleksi novel terjemahan!
            </p>

            <div class="hero__buttons">

                <a href="#novel-list" class="button button--primary">
                    Mulai Membaca
                </a>

                <a href="#donation" class="button button--secondary">
                    Donasi ❤️
                </a>

            </div>

        </div>

        <div class="hero__image">

            <img
                src="assets/images/cover-tpop.jpg"
                alt="Cover Novel">

        </div>

    </div>

</section>